<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    <!-- bootstrap ka grid system use karenge -->
    {{>navbar}}

    <div class="container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left about_left">
                        <img class="d-block w-100" src="/images/my_img.jpg" alt="First slide" width="250" height="400">
                    </div>
                    <div class="col-md-6 col-12 main_header_right about_right">
                        <p>Software Devloper</p>
                        <h1>My name is <span class="text-clr">Somya Sheti</span> and i am Web and Android Devloper</h1>
                        <a href="https://sds7500.github.io/myportfolio.github.io/"><button>Know More</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>